PORT=3000
MONGODB_URI=mongodb://localhost:27017/fintech-backend
NODE_ENV=development

# JWT Configuration
JWT_SECRET=secret_jwt_key
JWT_EXPIRES_IN=1h

# For testing token expiry (uncomment to use 5-minute expiry)
# JWT_EXPIRES_IN=5m
